.h-100
{
   
    background-color: teal;
}
.h-min-100
{
   
    background:linear-gradient(90deg,#56ab2f ,#a8e063)
}
.user-list-toolbar
{
    display: flex;
    flex-direction:row-reverse;
    
    padding: 10px 20px 10px 10px;
}

.table-container
{
    padding-left: 20px;
    padding-right: 20px;
}
.ant-table-thead tr th
{
 background-color: #1893cc !important;
padding: 8px 8px;
 color: white;
}
.ant-table-tbody tr td
{
 background-color: white !important;
padding: 8px 8px;
 color: black;
}

.ant-btn-primary
{
    color: white;
    background-color: #56ab2f;
    border-color: #56ab2f;
}